@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #202020;
  --button-color: #323232;
  --hover-color: #3b3b3b;
  --sidebar-color: #2d2d2d;
}
* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: cursive;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
