@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
* {
  margin: 0;
  padding: 0;
  background-color: rgb(39, 36, 36);
  color: white;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
